name: Build and Push to Docker Hub
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [frontend, link-service, analytics-service]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.am12344 }}
          password: ${{ secrets.dckr_pat_1HXFsivBUX6AlMiUXE5HvUyZCDo }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service }}
          push: true
          tags: am12344/${{ matrix.service }}:latest
